@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center; background-size:cover">
    <h1>Customer service campaign</h1>
    <div>
        <img src="~/Content/Images/csi.jpg" alt="Alternate Text" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Details</h2>
        <p>
            A huge telecommunication company had a successful year and just recently started a new campaign to
            reward their loyal customers (provided) with a discount on new purchases. Each day for one week
            agents have to fill out the custom form to reward some of them with a daily limit of 5 customers per
            agent. Mistakes are possible.
        </p>
        <p>
            One month after this campaign they will get a .csv report with customers that have made a successful
            purchase and they want to merge this data to show the results through API.
            Since they want to reuse this scenario in different CRM solutions they have, securely exposed APIs are
            required with ease of integration.
        </p>
        <p>User service for customer data (<b>FindPerson</b>): <a href="https://www.crcind.com/csp/samples/SOAP.Demo.cls">https://www.crcind.com/csp/samples/SOAP.Demo.cls</a></p>
        <p>
            The main goal of the task is to simulate real case scenario with the architecture setup to answer future
            needs and easy maintenance.
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>